.wrapper {
  max-width: 89rem;
  font-family: ReadexPro-Regular;
}

.heading {
  font-size: 2.5rem;
  margin-top: 4rem;
  text-transform: capitalize;
}

.description {
  width: 75%;
}

.list {
  margin-top: 4rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.item {
  width: calc(25% - 1.3333rem);
  cursor: pointer;
}

.imgWrapper {
  overflow: hidden;

  img {
    transition: transform 0.3s ease-out;
    width: 100%;

    &:hover {
      transform: scale(1.1);
    }
  }
}
