html {
  background-color: #fff;
  color: #222;
  margin: unset;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  font-family: ReadexPro-Regular;
  color: #222;
  max-width: 80rem;
  width: 100%;
  margin: unset;
  display: flex;
  flex-direction: column;
}

div {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font: inherit;
  cursor: pointer;
  border: none;
  background: none;
}

ul,
ol {
  list-style: none;
  padding: 0;
}

input:focus {
  outline: none;
  box-shadow: none;
}

button,
p {
  padding: unset;
  margin: unset;
}

@font-face {
  font-family: "Pacifico-Regular";
  src: url("../../public/fonts/Pacifico-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "ReadexPro-Light";
  src: url("../../public/fonts/ReadexPro-Light.ttf") format("truetype");
}

@font-face {
  font-family: "ReadexPro-Regular";
  src: url("../../public/fonts/ReadexPro-Regular.ttf") format("truetype");
}

header .scrollbar-track.scrollbar-track-y {
  margin-right: 0.5rem;
}
